In [1]:
std_1 = {
  "roll_no": "01",
  "name": "Servil",
  "age": 20
}
print(type(std_1))
print(std_1)

<class 'dict'>
{'roll_no': '01', 'name': 'Servil', 'age': 20}

In [2]:
print(len(std_1))

3

In [3]:
std_1 = {
  "roll_no": "01",
  "name": "Servil",
  "age": 30,
   "age":20
}
print(type(std_1))
print(std_1)
# dupicate not allow

<class 'dict'>
{'roll_no': '01', 'name': 'Servil', 'age': 20}

In [4]:
std_1.get("name")

'Servil'

In [5]:
x=std_1.keys()
print(x)
y=std_1.values()
print(y)

dict_keys(['roll_no', 'name', 'age'])
dict_values(['01', 'Servil', 20])

In [6]:
z=std_1["name"]
print(z)

Servil

In [7]:
std_1.update({"age":15})
print(std_1)

{'roll_no': '01', 'name': 'Servil', 'age': 15}

In [8]:
std_1.update({"DOB":"23 Jul 1990"})
print(std_1)

{'roll_no': '01', 'name': 'Servil', 'age': 15, 'DOB': '23 Jul 1990'}

In [9]:
# pop(), popitem(), del, clear()

std_1.popitem()
print(std_1)

{'roll_no': '01', 'name': 'Servil', 'age': 15}

In [10]:
std_1.pop("name")
print(std_1)

{'roll_no': '01', 'age': 15}

In [11]:
std_1.clear()
print(std_1)

{}

In [12]:
std_1 = {
  "roll_no": "01",
  "name": "Servil",
  "age": 20
}
print(type(std_1))
print(std_1)

<class 'dict'>
{'roll_no': '01', 'name': 'Servil', 'age': 20}

In [13]:
del std_1["name"]
print(std_1)

{'roll_no': '01', 'age': 20}

In [14]:
del std_1
print(std_1)

NameError: name 'std_1' is not defined

In [ ]:
std_1 = {
  "roll_no": "1",
  "name": "Amar",
  "age": 10
}

std_2 = {
  "roll_no": "Boby",
  "name": "Servil",
  "age": 10
}
std_3 = {
  "roll_no": "3",
  "name": "Conda",
  "age": 10
}

std_info={    "std_1":std_1, "std_2":std_1, "std_3":std_1,}

print(std_info)

{'std_1': {'roll_no': '1', 'name': 'Amar', 'age': 10}, 'std_2': {'roll_no': '1', 'name': 'Amar', 'age': 10}, 'std_3': {'roll_no': '1', 'name': 'Amar', 'age': 10}}

In [ ]:
print(std_info["std_1"])

{'roll_no': '1', 'name': 'A', 'age': 10}

In [ ]:
print(std_info.get("std_1").get("name"))

Amar

In [15]:

std_info={ "class_10" : { "section_A" : 
                            {
                                "std_1": {"roll_no": "1",  "name": "Amar",  "age": 10},  
                                "std_2": {"roll_no": "2",  "name": "samar",  "age": 10},
                                "std_3": {"roll_no": "3",  "name": "reem",  "age": 10},  
                            } , 
                        "section_B" : 
                            {
                                "std_1": {"roll_no": "1",  "name": "Sumo",  "age": 10},  
                                "std_2": {"roll_no": "2",  "name": "Jambo",  "age": 10},
                                "std_3": {"roll_no": "3",  "name": "Rambo",  "age": 10},  
                            }
                                                                 
                        
                        } 
        }

In [21]:
for x in std_info:
    for y in std_info[x]:
        for z in std_info[x][y]:
            print(z, ":")
            for a1 in std_info[x][y][z]:
                print("     ",a1, "=", std_info[x][y][z][a1])

std_1 :
      roll_no = 3
      name = reem
      age = 10
std_2 :
      roll_no = 2
      name = samar
      age = 10
std_1 :
      roll_no = 3
      name = Rambo
      age = 10
std_2 :
      roll_no = 2
      name = Jambo
      age = 10